@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  background-color: rgb(6, 28, 53);
  font-family: 'Montserrat', sans-serif;
}

.hero{
  margin-top: 150px;
  color: aliceblue;
}

.Search{
  padding: auto;
  display: inline-flex;
  padding: 0 50px;
}

.search{
  display: inline-flex;
  justify-content: center;
  width: 60%;
}

/* .contain{
  width: 100%;
  margin: auto;
  justify-content: center;
} */







/* Result Page */
.search-res{
  margin-top: 145px;
  padding-left: 40px;
}

.img{
  background-image: url(./components/Group3.png) ;
  height: 40px;
  width: 340px;
  z-index: 1;
}

.charts{
  display: flex;
  
}

.chart{
  justify-content: space-evenly;
}